{extend name='/father/index' /}
{block name='nave'}
<nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">

                        <span class="sr-only">切换导航</span>

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="_menu" >
                        <li

                                {empty name="$Request.param.cate_id"}
                                class="_active"
                                {/empty}
                        <a href="{:url('index')}">首页</a></li>
                        {foreach $categorys as $v}
                        <li

                                {eq name="$v['id']" value="$Request.param.cate_id"}
                                class="_active"
                                {/eq}
                        ><a href="{:url('/index/category',['cate_id'=>$v['id']])}">{$v['name']}</a></li>
                        {/foreach}
                        <!--判断是否登录-->
                        {if session('uid')}
                        <!--取出session 数据的时候需要加：-->

                        <li >
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {$Think.session.usename}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/article/create">发布文章</a>
                                    <a class="dropdown-item" href="/logout">退出登录</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        {else/}
                        <li ><a href="/login">登录</a></li>
                        <li ><a href="/register">注册</a></li>
                        {/if}

                    </ul>
                </div>


            </div>
        </div>
    </div>
</nav>
{/block}
{block name='left'}
<main class="col-md-8">

    <article>
        <div class="_head category_title">
            <h2>
                一共搜索到
            </h2>
            <span>
									共{$articles->count()}篇文章
								</span>
        </div>
    </article>
    {foreach $articles as $v}
    <article>
        <div class="_head">
            <h1>{$v['title']}</h1>
            <span>作者：</span>
            •
            <!--pubdate表⽰示发布⽇日期-->
            <time pubdate="pubdate" datetime="">{$v.create_at}</time>

        </div>
        <div class="_digest">
            <img src="/uploads/{$v.title_img}" class="img-responsive">
            <p>
                {$v.destrin}
            </p>
        </div>
        <div class="_more">
            <a href="{:url(article/$v['id'])}" class="btn btn-default">阅读全文</a>
        </div>

    </article>
    {/foreach}
    {$articles|raw}
</main>

{/block}
{block name='right'}
<main class="col-md-4">
    <aside class=" hidden-sm hidden-xs">
        <div class="_widget">
            <h4>搜索一下</h4>
            <div class="_info">
                <nav class="navbar navbar-light ">
                    <!--action 是提交到那个方法里面，提交方式用Get-->
                    <form class="form-inline" action="/search" method="get">
                        <!--起一个关键字name，方法里面接受-->
                        <input class="form-control mr-sm-2" name="keywords" type="search" placeholder="请输入你的文章标题" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                    </form>
                </nav>

            </div>
        </div>
        <div class="_widget">
            <h4>分类列表</h4>
            <div>
                <a href="">娱乐 (2)</a>
            </div>
        </div>
        <div class="_widget">
            <h4>标签云</h4>
            <div class="_tag">
                <a href="">PHP</a>
                <a href="">PHP</a>
                <a href="">PHP</a>
            </div>
        </div>

    </aside>
</main>
{/block}
