{extend name='/father/father' /}

{block name='right'}
<div class="col-xs-12 col-sm-9 col-lg-10">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">文章标题</th>
            <th scope="col">栏目</th>
            <th scope="col">作者</th>
            <th scope="col">阅读量</th>
            <th scope="col">创建时间</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="articles" id="v"}

        <tr>
            <th scope="row">{$v.id}</th>
            <td>{$v.title}</td>
            <td>{$v->category->name}</td>
            <td>{$v->user->usename}</td>
            <td>{$v->pv}</td>

            <!--eq 第一个参数跟第二个参数一样就会显示-->

            <td>{$v.create_at}</td>
            <td width="200">

                <a  href="{:url('/admin/articles/edit',['id'=>$v.id])}" class="btn btn-success btn-sm">编辑 </a>

                <!--第一个参数跟第二个参数一样，反向就显示-->

                <button class="btn btn-danger btn-sm" onclick="del({$v.id})">删除 </button>

            </td>
        </tr>
        {/volist}

        </tbody>
    </table>

    {$articles|raw}
</div>
<script>

    function del(id) {
        swal({
            title: "确定删除吗？",
            text: "你将无法回复该用户,点击空白区,取消选框",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定删除！",
            cancelButtonText: "取消删除！",
            closeOnConfirm: false,
            closeOnCancel: false
        }).then(
            function(isConfirm){
                if (isConfirm) {
                    //或者id ,传递给后台
                    window.location.href = "/admin/articles/delete/id/"+id
                } else {
                    swal("取消！", "你的用户删除结束)",
                        "error");
                }
            });

    }

</script>


{/block}

